---
import Photo from "./Photo.astro";
import Skill from "./Skill.astro";
import skills from "../data/skills.ts";
import projectData from '../data/projects.ts';
import Carousel from "./Carousel.tsx";
import "../style/fonts.css";
---

<section class="flex flex-col md:flex-row md:shadow-2xl mt-3 md:mt-0
    md:h-5/6 md:w-9/12 md:border-slate-300 md:border-solid md:border-2 md:rounded-lg">
  <div class="flex flex-row items-center justify-center md:justify-start mb-4
          md:w-4/12 md:flex-col md:border-t-0 md:border-b-0 md:border-l-0 md:border-r-6 md:border-solid md:border-slate-300 
          md:border-2 md:p-2 md:mb-0">
        <div class="flex items-center justify-center w-20 h-20 rounded-full overflow-hidden
              md:w-64 md:h-64">
            <Photo/>
        </div>
        <div class="flex flex-col items-center">
          <span class="md:pt-2 text-white poppins-light text-lg md:text-xl">IBERSON SILVA CHUMACERO</span>
          <span class="md:pb-2 text-white poppins-light text-lg md:text-xl">Frontend Developer</span>
          <div class="flex">
            <button class="flex w-auto items-center bg-[#8996a8] text-sm md:text-[16px] hover:bg-white mr-1 md:m-2 px-2 py-1 rounded-full text-white 
              drop-shadow-2xl hover:text-[#505862]">Curriculum Vitae
            </button>
            <button class="flex w-auto items-center bg-[#8996a8] text-sm hover:bg-white md:m-2 px-2 py-1 rounded-full text-white 
              drop-shadow-2xl hover:text-[#505862] md:hidden">
              About Me
            </button>
          </div>
        </div>
        <div class="text-white text-justify mt-2 hidden md:inline">
          <p class="text-[15px] font-semibold">Desarrollador Frontend | Bach. en Ingeniería de Informática y Sistemas</p>
          <p class="text-sm mt-2">Desarrollador Frontend con experiencia en la creación de aplicaciones web responsive.
            Como experiencia realicé mis prácticas preprofesionales en Lead Working Partner, colaboré en la optimización y desarrollo 
            de la versión responsive de su ERP.</p>
        </div>
  </div>
    <div class="w-full md:w-8/12 flex flex-col items-center justify-center md:mt-0 h-full">
      <span class="text-white text-xl md:text-2xl mb-3 mt-4 md:mt-0 font-normal">Technologies and Tools</span>
      <div class="flex flex-wrap justify-around">
        {skills.map((skill) => (
          <Skill icon={skill.icon} name={skill.name} />
        ))}
      </div>
      <span class="text-white text-xl md:text-2xl mb-3 mt-10 md:mt-3 font-normal">My Projects</span>
      <Carousel client:only projectData={projectData} />
    </div>
</section>